

$headerFont: 'Fraunces', serif;
$textFont: 'Barlow', sans-serif;

$font-weight-text: 600;
$font-weight-header: 900;
// $font-weight-header: (
//   regular: 700,
//   bold: 900
// );

$widthFull: 100%;
$widthHalf: 50%;

$color-black: black;
$color-white: white;
$color-primary: #54bfff;
$color-gray: gray;
$color-yellow: #ffcf01;
$color-red: #ff7062;

